"""
 {{- define "json" }}
 [
     "hello","world","ok"
 ]
 {{- end -}}
"""
"""
{{- define "base" -}}
{{- range $name := (list "a" "b" "c" ) }}
def {{ . }}():
    pass

{{- end -}}
{{- end -}}
"""
"""
{{- define "default" -}}
{{ $data := parseJSON "json" nil }}
{{ $text := stemplate "base" $data }}
{{ $text }}
{{- end -}}

"""

print("hello")

# {{ template "base" }}
