{{- $types := dict "boolean" "bool" "object" "dict" "integer" "int" -}} 
{{- $nested := list -}}
class {{ .title | nospace }}:
    def __init__(
        {{ range $name, $values := .properties -}}
        {{ $name }}
        {{- if eq $values.type "object" }}: {{ $values.title | nospace }} = None
        {{ else }}: {{ get $types $values.type }} = {{ $values.default }}
        {{ end -}}
        {{ end -}}
        ):
        {{ range $name, $values := .properties -}}
        self.{{ $name }}: {{ get $types $values.type }} = {{ $name }}
        {{- if eq $values.type "object"}}{{ $nested = append $nested $values }}{{ end -}}
        {{ end }}

{{ range $id, $nest := $nested }}
{{ template "model_generator.tmpl" $nest }}
{{- end -}}
    